src/main/resources/wsdl/helloWorld/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://www.woudstra.nl/HelloWorldService/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="HelloWorldService"
                  targetNamespace="http://www.woudstra.nl/HelloWorldService/">
    <wsdl:types>

        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.woudstra.nl/HelloWorldService/">
            <xsd:element name="HelloWorldServiceOperation">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="in" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="HelloWorldServiceOperationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="out" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element></xsd:schema></wsdl:types>
    <wsdl:message name="HelloWorldServiceOperationRequest">
        <wsdl:part name="parameters" element="tns:HelloWorldServiceOperation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="HelloWorldServiceOperationResponse">
        <wsdl:part name="parameters" element="tns:HelloWorldServiceOperationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HelloWorldServicePortType">
        <wsdl:operation name="HelloWorldServiceOperation">
            <wsdl:input message="tns:HelloWorldServiceOperationRequest"></wsdl:input>
            <wsdl:output message="tns:HelloWorldServiceOperationResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloWorldServiceBinding" type="tns:HelloWorldServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="HelloWorldServiceOperation">
            <soap:operation soapAction="http://www.woudstra.nl/HelloWorldService/HelloWorldServiceOperation" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloWorldService">
        <wsdl:port name="HelloWorldServicePort" binding="tns:HelloWorldServiceBinding">
            <soap:address location="http://www.woudstra.nl/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>